.root {
    -fx-background-color: #F8F8F8;
}

.button {
    -fx-background-color: #B8B8B8;
    -fx-font-size: 16;
    -fx-font-family: "Courier New";
    -fx-text-fill: #181818;
}


.label {
    -fx-font-family: "Courier New";
    -fx-text-fill: #181818;
}